[user]
	name = lyjdwh
	email = 1412511544@qq.com
[core]
	editor = emacsclient -t
	autocrlf = input
	filemode = false
	safecrlf = warn
    pager = delta
[http]
	proxy = http://127.0.0.1:12333
[https]
	proxy = https://127.0.0.1:12333
[credential]
	helper = store
[pull]
	rebase = true
[github]
	user = lyjdwh
[delta]
    side-by-side = true
    line-numbers-left-format = ""
    line-numbers-right-format = "│ "
[interactive]
    diffFilter = delta --color-only
